@import "./variables.scss";

// ========== BASE HTML STYLING ========== //

html,
body {
  font-family: $font, sans-serif;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

button {
  border: none;
  color: white;
  background-color: darkgreen;
  padding: 5px 10px;

  &.button {
    border-radius: 3px;

    &.add {
      margin-bottom: 15px;
    }

    &.table-button {
      color: black;
      background-color: transparent;
      padding: 0;
      &:hover {
        color: darkgray;
      }
    }
  }
}

form {
    .form-row {
    margin: 20px !important;

    .form-group {
      width: 100%;
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;

  .sidebar-content {
    flex: 1;
  }

  .sidebar-buttons {
    margin-top: auto;
  }
}

.budget-table-wrapper {
  margin: 20px;

  .budget-table {
    .table {
      border: solid 1px $table-border;
    }

    td {
      text-transform: capitalize;
      
      .info {
        display: flex;
        flex-direction: column;
        
        .headline, .subline {
          text-transform: none;
        }

        .subline {
          font-size: 13px;
          color: darkgray;
        }
      }
    }
  }
}
